[submodule "modules/Nuklear"]
	path = modules/Nuklear
	url = git@github.com:Immediate-Mode-UI/Nuklear.git
[submodule "modules/SDL"]
	path = modules/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "modules/sfsexp"]
	path = modules/sfsexp
	url = git@github.com:mjsottile/sfsexp.git
